.git
.gitignore
.prettierrc
.cjs.swcrc
.es.swcrc
bun.lockb
build.ts

node_modules
tsconfig.json
pnpm-lock.yaml
jest.config.js
nodemon.json

example
tests
trace
test
CHANGELOG.md
.eslintrc.js
tsconfig.cjs.json
tsconfig.esm.json
tsconfig.test.json
tsconfig.build.json

build.ts
src